{% extends "base.html" %} 
{% block title %}Hybrid Flower Generator{% endblock %}
{% block content%}
<h1 style = "margin-top:30px ; margin-bottom: 40px;" align = "center">Hybrid Flower Generator</h1>

<form method = post action="/">
  
  <div class="sliders">

    <table align="center" border="0px">

      <tr>

{% for key in flowers %}
  
        <td align = "center" style = "font-size: 12px; width: 120px;">

          <img alt = "{{key}}" src = "{{ url_for('static', filename = 'image/' + key + '.png' ) }}" width = "75px">

          <br/>

          <label for = "{{key}}">{{flowers[key][0]}}</label>

        </td>

        <td align = "center" style = "font-size: 12px;">

          <div class="slider">

            <input type = "range" id = "{{key}}" name = "{{key}}" value = "{{flowers[key][1]}}" step = "5" min = "0" max = "100" oninput = "document.getElementById('id{{key}}').innerHTML = this.value" />
            
            <br/>

            <label id = "id{{key}}">{{flowers[key][1]}}</label>

          </div>

        </td>

{% if loop.index % 4 == 0 %}

      </tr>
      
      <tr>

{% endif %}

{% endfor %}

      </tr>

      <tr style = "height: 80px;">

        <td colspan="4" >
          
          <label for="models">Choose a model:</label>

          <select id="models" name="models">

            <option value="1" {% if model == 1 %}selected="selected"{% endif %}>GAN Not trained</option>
            <option value="2" {% if model == 2 %}selected="selected"{% endif %}>GAN</option>
            <option value="3" {% if model == 3 %}selected="selected"{% endif %}>Cycle GAN</option>
            <option value="4" {% if model == 4 %}selected="selected"{% endif %}>Cycle GAN v2</option>

          </select>
        
        </td>
        <td colspan="4" align="right">

          <button type="submit" class="btn btn-primary mb-2">Generate flower</button>

        </td>

      </tr>

    </table>

  </div>

  <br/>

  <div>

    

  </div>

  

</form>

<br />

{% if isGraphCreated %}
<div align = "center">
  <img src="{{ url_for('static', filename='output.png') }}" alt="Generated Flower" id="my_image" width="600" onload="refresh_image()"/>
</div>
{% endif %}

<script>

  function refresh_image( ) { 

    //var timestamp = new Date().getTime();     
     
    //var imageElement = document.getElementById("my_image");     
     
    //imageElement.src = "{{ url_for('static', filename='output.png') }}" + "?t=" + timestamp;

  }
  
</script>

{% endblock %}